*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
a{text-decoration:none;color:inherit;}
strong,b{font-weight:none;}
i,em,address{font-style:normal;}
ul,ol{list-style: none;}


/* common */
html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
.cw{
    border: 1px solid red;
    width: 1200px;
    margin: 0 auto;
}


/* layout */
header{
    /* border: 1px solid blue; */
    width: 1200px;
    height: 60px;
    position: fixed;
    overflow: hidden;
    z-index: 111;
    transition: all 0.5s ease;
}
header:hover{
    display: block;
    height: 1000px;
}
/* lnb */
header > .lnb > ul{
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
header > .lnb > ul >li {padding:3px 6.5px;}
header > .lnb > ul >li:last-of-type{padding:3px 0;}
header > .lnb > ul >li.Q::after{
    content: '';
    width: 1px;
    height: 10px;
    background: #000;
    position: absolute;
    top: 40%;
    right: calc(50% - 515px);
    margin: 0 5px;
}


/* gnb */
header > .gnb{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
header > .gnb > h1{width: 160px;}
header > .gnb > ul{
    display: flex;
    justify-content: flex-end;
}
header > .gnb > ul > li{
    padding:0 15px;
    font-weight: bold;
}
header > .gnb > ul > li:last-of-type{padding: 0;}

/* menu */

header >.menu > .menu1{
    border: 1px solid blue;
    display: flex;
}
header > .menu  .mLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}
header > .menu  .mLeft span{color: #5e1415;}
header > .menu  .mLeft h3{
    display: inline-block;
    width: 130px;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.3rem;
    border-bottom: 1px solid #000;
}

header > .menu  .mLeft li{
    padding: 3px 0;
    color: #333333;
}
header > .menu  .mRight{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left:50px;
}
header > .menu  .mRight > ul {padding: 0 10px;}
header > .menu  .mRight > ul > li {
    padding: 3px 0;
    color: #333333;
}
header > .menu  .mRight > ul > h3{
    display: inline-block;
    width: 130px;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.3rem;
}
header > .menu  .mRight > ul > h4{
    font-weight: 500;
    padding: 7px 0;
    border-bottom: 1px solid #000;
    width: 130px;
    font-size: 1.1;
}
header > .menu  .mRight > ul > h4.skin{padding-top: 53px;}
header > .menu  .mRight > ul > h4.make{padding-top: 53px;}
header > .menu  .mRight > ul > h4.Fra{padding-top: 242px;}
header > .menu  .mRight > ul > h3.Fra{padding-top: 200px;}
header > .menu .mImg > ul{
    display: flex;
    padding-top: 100px;
    justify-content: flex-end;
}
header > .menu img{
    width: 250px;
    height: 250px;
    padding: 0 20px;
    margin-left: 50px;
}
header .mImg ul > li p{
    text-align: center;
    font-weight: bold
}
