*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
a{text-decoration:none;color:inherit;}
strong,b{font-weight:none;}
i,em,address{font-style:normal;}
ul,ol{list-style: none;}


/* common */
html{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
.cw{
    border: 1px solid red;
    width: 1200px;
    margin: 0 auto;
}


/* layout */
/* header */
header{
    width: 100%;
    height:65px;
    position: fixed;
    overflow: hidden;
    z-index: 1111;
    transition: all 0.5s ease;
}
header::after{
    content: '';
    position: absolute;
    left: 0; top: 65px;
    width: 100%;
    height: 1px;
    background: #000;
}
header:hover{
    display: block;
    height: 650px;
    background: #fff;
    opacity: 0.9;
}
/* lnb */
header  .lnb > ul{
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
header  .lnb > ul >li {padding:3px 6.5px;}
header  .lnb > ul >li:last-of-type{padding:3px 0;}
header  .lnb > ul >li.Q::after{
    content: '';
    width: 1px;
    height: 10px;
    background: #000;
    position: absolute;
    top: 40%;
    right: calc(50% - 515px);
    margin: 0 5px;
}


/* gnb */
header  .gnb{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
header  .gnb > h1{width: 160px;}
header  .gnb > ul{
    display: flex;
    justify-content: flex-end;
}
header  .gnb > ul > li{
    padding:0 15px;
    font-weight: bold;
}
header  .gnb > ul > li:last-of-type{padding: 0;}


/* menu */
header  .menu > .menu1{display: flex;}

/* left */

header  .menu  .mLeft{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-right: 80px;
    width: 180px;
}
header  .menu > .menu1  .mLeft h3{
    font-weight: 700;
    font-size: 1.2rem;
    width: 180px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

header .menu1 .mLeft ul li{
    font-size: 0.8rem;
    color: #333;
    padding: 3px 0;
}
header .menu1 .mLeft ul > li ul >li:hover{
    color: #000;
    font-weight: 500;
    text-decoration:underline;
}
header .mLeft span{color: #5e1415;}
header .mLeft .eStory{margin-bottom: 200px;}






/* right */
header .menu1 .mRight ul > li > ul > li{
    font-size: 0.8rem;
    color: #333;
    padding: 3px 0;
}
header .menu1 .mRight ul > li > ul > li:hover{
    color: #000;
    font-weight: 500;
    text-decoration:underline;
}
header .mRight{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100% - 180px);
}
header .mRight h3{
    padding: 10px 0;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: none;
}
header .mRight h4{
    padding: 5px 0;
    width: 120px;
    border-bottom: 1px solid #000;
    font-weight: 500
}
header .mRight span{
    color: #5e1415;
    font-weight: 500;
}
header .mRight > .skin > ul {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 40px);
}
header .mRight > .skin > ul > li{margin-right: 30px;}
header .mRight > .skin > ul > li:last-of-type{margin: 0;}
header .mRight > .make > ul {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 40px);
}
header .mRight > .make > ul > li{margin-right: 30px;}
header .mRight > .make > ul > li:last-of-type{margin: 0;}
header .mRight > .fragrance {padding-top: 10px;}
header .mRight > .fragrance > ul {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 40px);
}
header .mRight > .fragrance > ul > li{margin-right: 25px;}
header .mRight > .fragrance > ul > li:last-of-type{margin: 0px;}
header  .menu .mImg ul {
    width: 500px;
    height: 500px;
}
header  .menu .mImg ul > li {
    width: 200px;
    height: 200px;
}

header  .menu .mImg ul > li > figure{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
header  .menu .mImg ul {display: flex;}

header  .menu .mImg ul > li.db{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

header  .menu .mImg ul li.sy{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
header  .menu .mImg ul img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: all 0.5s ease 0s;
}
header  .menu .mImg ul > li img:hover{transform: scale(1.1);}
header  .menu .mImg ul h5{
    font-weight: bold;
    margin-top: 10px;
}
header  .menu .mImg ul{
    display: flex;
    justify-content: space-between;
    width: calc(50% - 40px);
}
header  .menu .mImg ul li.db{margin-right: 20px;}


/* main */
main{position: relative;}
main .mainBanner{
    height: 780px;
    position: relative;
}
main .mainBanner::after{
    content: "";
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height:780px;
    background: rgba(0, 0, 0, 0.5);
}
.mainBanner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mainBanner > .flotingTxt{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 100;
    text-align: center;
    color: #fff;
}
.flotingTxt > h1{
    margin-bottom: 50px;
    font-size: 4rem;
    line-height: 120%;
}
.flotingTxt > h1 span{
    color: #c48e5f;
    font-weight: 500;
    font-size: 1.1em;
}
.flotingTxt > p a{
    padding: 30px 80px;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    border-radius: 50px;
    transition: all 0.5s ease 0s;
    filter: grayscale(1) brightness(0.5);
}
.flotingTxt > p a:hover{
    filter: grayscale(0) brightness(1);
    color: #c48e5f;
}
/* main > goods */
.goods{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    width: 1200px;
    height: 500px;
}
.goods > section.goodsH{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    width: 300px;
    height: 500px;
}
.goods >  section > ul > li  h2{
    font-weight: bold;
    font-size: 2.8rem;
    color: #686868;
    padding-top: 5px;
    padding-left: 60px;

}
.goods > section > ul > li h2 span{color: #020d3a;}
.goods  h4{
    font-weight: 700;
    font-size: 1.1rem;
    padding-bottom: 5px;
}
.goods p{
    font-size: 0.9rem;
    padding-top: 5px;
}
.goods  ul > li img{
    width: 250px;
    height: 350px;
    background: #e5eaef;
    object-fit: contain;
}
.goods .sliderBest{
    overflow: hidden;
    width: calc(100% - 300PX);
    position: relative;
}
.goods .sliderBest > .best ul > li{
    width: 250px;
    height: 500px;
}
.goods .sliderBest > .best > ul > li{
    flex: 1;
    margin-bottom: 5px;
    margin-left: 50px;
    text-align: center;
}
.goods .sliderBest > .best > ul{
    display: flex;
    width: calc(100% - 300px);
    height: 500px;
    transform: translateX(0%);
}
.goods .sliderNew {
    position: absolute;
    left: 0; top: 0;
    display: none;
}
.goods .sliderNew > .new{
    display: flex;
    width: calc(100% - 300px);
    height: 500px;
}
.goods .sliderNew > .new  > li{
    flex: 1;
    margin-bottom: 5px;
    margin-left: 50px;
    text-align: center;
}
.goods .sliderPromote {
    position: absolute;
    left: 0; top: 0;
    display: none;
}
.goods .sliderPromote > .promote{
    display: flex;
    width: calc(100% - 300px);
    height: 500px;
}
.goods .sliderPromote > .promote > li{
    flex: 1;
    margin-bottom: 5px;
    margin-left: 50px;
    text-align: center;
}
.goods .controler{
    position: absolute;
    left: 5%;
    bottom: 60%;
    width: 850px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px;
}

/* notice */

.notice h3{
    font-weight: bold;
    font-size: 2.8rem;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 20px;
}
.noticeWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
}
.noticeWrap h4{
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
    transition: all 0.5s ease 0s;
}
.noticeWrap p{
    font-weight: 700;
    color: #fff;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
/* virtual */
.noticeWrap > .virtual{
    position: relative;
    width: 368px;
    height: 420px;
}
.noticeWrap> .virtual h4{
    position: absolute;
    top: 50%;
    left: 28%;
    z-index: 111;
}
.noticeWrap> .virtual p{
    position: absolute;
    bottom: 100px;
    left: 70px;
    z-index: 111;
}
.noticeWrap>.virtual p::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 70px);
    width: 50px;
    height: 1px;
    background: #fff;
}

/* live */
.noticeWrap > .live{
    position: relative;
    width: 368px;
    height: 420px;
    margin-right: 20px;
}
.noticeWrap> .live h4{
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 111;
}
.noticeWrap> .live p{
    position: absolute;
    bottom: 100px;
    left: 80px;
    z-index: 111;
}
.noticeWrap>.live p::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 70px);
    width: 50px;
    height: 1px;
    background: #fff;
}

/* luxury */
.noticeWrap > .luxury{
    position: relative;
    width: 368px;
    height: 420px;
}
.noticeWrap> .luxury h4{
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 111;
}
.noticeWrap> .luxury p{
    position: absolute;
    bottom: 100px;
    left: 80px;
    z-index: 111;
}
.noticeWrap>.luxury p::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 70px);
    width: 50px;
    height: 1px;
    background: #fff;
}
.noticeWrap>ul>li{
    overflow: hidden;
    height: 420px;
}
.noticeWrap>ul>li img{
    width: 100%;
    height: 420px;
    transition:all 0.5s ease 0s;
    filter:grayscale(1) brightness(0.7);
}
.noticeWrap>ul>li:hover img{
    transform:scale(1.1);
    filter:grayscale(0) brightness(1);
}
.noticeWrap li:hover h4{
    transform: translateY(-30px);
    color:#fff;
    font-weight: 800;
}
.noticeWrap > ul > li:hover p{
    opacity: 1;
    color: #fff;
}
.noticeWrap > section{margin-right: 20px;}
.noticeWrap > section:last-of-type{margin-right: 0;}

/* only */
.only h3{
    font-weight: bold;
    font-size: 2.8rem;
    color: #020d3a;
    padding-top: 50px;
    padding-bottom: 20px;
}
.present{display: flex;}
.present > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.present ul li{
    width: 500px;
    text-align: center;
}
.present ul > li > figure{margin-bottom: 42px;}
.present ul img{padding-top: 70px}
.present > ul > li  h4 a{font-weight: 600;}
.present ul li p{
    font-size: 0.8rem;
    margin-bottom: 105px;
    margin-top: 10px;
}

/* bottom Top */
.bottom{
    background: #020d3a;
    position: relative;
}
.bottom::after{
    content: '';
    position: absolute;
    left: 0%;
    bottom: 40%;
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: 0.3;
}
.bottomTop{display: flex;}
.topfleft{
    display: flex;
    color: #fff;
    width: 70%;
    padding-top: 60px;
    font-weight: bold;
}
.topfleft  li{
    padding:10px 0;
    font-size: 1.2rem;
    margin-right: 104px;
}
.topfleft .right span{color: #86a5f2;}
.topfRight{
    color: #fff;
    font-size: 12px;
    width: 30%;
    padding-top: 60px;
    padding-left: 150px;
}
.topfRight > p{margin-bottom: 5px;}
.topfRight > address{margin-bottom: 20px;}
.topfRight > .bottomHead{font-weight: bold;}

/* bottom */
.bottomFooter{display: flex;} 
.bottomFooter > .bottomfleft{
    width: 80%;
    color: #fff;
}
.bottomFooter > .bottomfleft > ul {
    display: flex;
    width: 100%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px 0;
    margin-bottom: 37px;
}
.bottomFooter > .bottomfleft > ul > li.use{margin-right: 120px;}
.bottomFooter > .bottomfleft > p{
    font-size: 10px;
    padding: 5px 0;
}
.bottomFooter > .bottomfright{
    width: 20%;
    padding-top: 100px;
    padding-right: 90px;
    color: #fff;
    font-size: 10px;
    font-weight: 200;
}
.bottomFooter > .bottomfright .icon ul{
    display: flex;
    margin-top: 10px;
}
.bottomFooter > .bottomfright .icon ul > li{transition: all 0.5s ease 0s;}
.bottomFooter > .bottomfright .icon ul > li:hover{opacity: 0.5;}
.bottomFooter > .bottomfright .icon ul li{margin-right: 14px;}

